body{
	font-family: 'Anonymous Pro', sans-serif;
	letter-spacing: 4px;
	background-color:#111;
	color:#1fe30d;
}
#container{
	text-align:center;
	position: relative;
	
}
#canvas{
	border: 2px solid #1fe30d;
}
#score{
	position:absolute;
	top:450px;
	left:500px;
	color:#1fe30d;
	font-size: 20px;
}
#button{
	position:absolute;
	top:470px;
	left:800px;
	text-align:right;
}
#help{
	font-size: 10px;
}
#help:hover{
	cursor:pointer;
	background-color: rgba(0,0,0,0.9);
}
button{
	color:#1fe30d;
	outline:0;
	background:none;
	border:0;
}
#restart{
	font-family: 'Anonymous Pro', sans-serif;
	letter-spacing: 4px;
}
#restart:hover{
	cursor:pointer;
	background-color: rgba(0,0,0,0.9);
}
#info_text{
	position:fixed;
	top:125px;
	left:300px;
	padding:30px;
	width:500px;
	background-color: rgba(0,0,0,0.9);
	visibility:hidden;
}
#close{
	position:absolute;
	top:5px;
	right:15px;
	padding:5px;
	cursor:pointer;
}